# Python cache and temp files
__pycache__/
*.log
*.tmp
*.pyc

# System-specific hidden files
.DS_Store

# Environment files and virtual environments
.env
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# IDE/editor settings
.idea/
.vscode/

